body {
    padding-top: 100px;
    background-color: #f7ecb5;
}

/* navbar */
@media (min-width: 768px) {
    .sidebar-nav {
    width: 16%;
    }
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .navbar-fixed-top {
        top: auto;
        left: auto;
        right: auto;
    }
}

/* main */
@media (min-width: 768px) {
    .main {
        padding-left: 5%;
    }
}
@media (max-width: 767px) {
    .main {
        margin-top: 0;
    }
}
h1 {
    font-family: 'Lora', serif;
}
h3 {
    font-family: 'Rokkitt', serif;
}
h2{
    font-family: 'Courgette', cursive;
    text-align: center;
    margin-bottom: 30px;
}
.main p {
    margin-left: 30px;
}
section {
    padding-bottom: 50px;
}
section:not(:last-child) {
    border-bottom: 2px solid #265a88;
}
section:not(:first-child) {
    padding-top:30px;
}
/* contact */
.form-group {
    padding-left:0;
    padding-right:0;
}

@media (min-width: 768px) {
    #formname, #formemail {
        width: 80%;
    }
}

/* skill */
.progress {
    margin-bottom: 10px;
    margin-top: 30px;
}
.progress-bar-fire-html {
    width:30%;
    -moz-animation:html5 5s ease-out;
    -webkit-animation:html5 5s ease-out;
}

@-moz-keyframes progress-bar-fire-html         {
    0%  { width:0;}
    100%{ width:30%;}
}

@-webkit-keyframes progress-bar-fire-html         {
    0%  { width:0;}
    100%{ width:30%;}
}

.progress-bar-fire-js {
    width:20%;
    -moz-animation:html5 5s ease-out;
    -webkit-animation:html5 5s ease-out;
}

@-moz-keyframes progress-bar-fire-js         {
    0%  { width:0;}
    100%{ width:20%;}
}

@-webkit-keyframes progress-bar-fire-js         {
    0%  { width:0;}
    100%{ width:20%;}
}

.progress-bar-fire-c {
    width:20%;
    -moz-animation:html5 5s ease-out;
    -webkit-animation:html5 5s ease-out;
}

@-moz-keyframes progress-bar-fire-c         {
    0%  { width:0;}
    100%{ width:20%;}
}

@-webkit-keyframes progress-bar-fire-c         {
    0%  { width:0;}
    100%{ width:20%;}
}

.progress-bar-fire-eng {
    width:73%;
    -moz-animation:html5 5s ease-out;
    -webkit-animation:html5 5s ease-out;
}

@-moz-keyframes progress-bar-fire-eng         {
    0%  { width:0;}
    100%{ width:73%;}
}

@-webkit-keyframes progress-bar-fire-eng         {
    0%  { width:0;}
    100%{ width:73%;}
}

.outline {
    margin-left: 10%;
}

address a {
    text-decoration: none;
    color: black;
}



